<section style="min-height: 51vh">
  <div class="container">
    <div class="my-4">
      <h2 class="md:text-2xl lg:text-3xl">All Demos</h2>
    </div>
    <ul class="mt-5">
	    <li class="my-2 drop-shadow-md text-xl">
        <%= link_to "View Transitions With Turbo 8", photos_path, class: "no-underline hover:underline text-indigo-600" %> 
      </li>
      <li class="my-2 drop-shadow-md text-xl">
        <%= link_to "Dynamic nested form with rondo_form gem", new_project_path, class: "no-underline hover:underline text-indigo-600" %> 
      </li>
    </ul>
  </div>
</section>
