<section style="min-height: 51vh">
  <div class="container">
    <div class="my-4">
      <h2 class="sm:text-2xl md:text-3xl text-indigo-400 font-semibold">All Demos</h2>
    </div>
    <ul class="flex flex-col divide-y mt-5 text-lg">
	    <li class="flex items-center space-x-2 py-3">
        <%= link_to "View Transitions With Turbo 8", photos_path, class: "font-semibold hover:underline" %> 
      </li>
      <li class="flex items-center space-x-2 py-3">
        <%= link_to "Dynamic nested form with rondo_form gem", new_project_path, class: "font-semibold hover:underline" %> 
      </li>
    </ul>
  </div>
</section>
