<div id="<%= dom_id project %>">
  <%= link_to project, class: "ml-2 inline-block font-medium" do %>
    <p class="my-4">
      <strong class="block font-medium mb-1"><%= project.name %></strong>
    </p>
  <% end %>
</div>
