<div class="mx-auto md:w-100 w-full">

  <div class="flex justify-between items-center">
    <h2 class="text-2xl font-semibold">Editing project</h2>
    <%= link_to "All projects", projects_path, class: "btn-primary" %>
  </div>

  <%= render "form", project: @project %>

  <%= link_to "Show this project", @project, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
