<div class="mx-auto md:w-100 w-full">
  <div class="flex justify-between items-center">
    <h2 class="text-2xl font-semibold">New project</h2>
    <%= link_to "All projects", projects_path, class: "btn-primary" %>
  </div>

  <%= render "form", project: @project %>
</div>
