<nav class="bg-indigo-400 py-4 px-5">
  <div class="flex items-center justify-between flex-wrap max-w-4xl mx-auto">
    <div class="flex items-center mr-6">
      <a href="/" class="text-white font-bold text-xl tracking-tight">
        Rails Opus
      </a>
    </div>
    <div class="flex items-center w-auto text-md">
      <a href="/articles" class="block no-underline lg:inline-block text-white hover:underline mr-4">
        Blog
      </a>
      <a href="/demos" class="block no-underline lg:inline-block text-white hover:underline mr-4">
        Demos
      </a>
    </div>
  </div>
</nav>
